body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS para o layout */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 250px; /* Largura fixa para a sidebar */
  background-color: #f8f9fa;
  height: 100vh; /* Preenche toda a altura da página */
}

.content {
  flex: 1;
  padding: 20px;
}

